.vscode/
*.ipynb_checkpoints/
MPI_OpenMP/hw1_mpi_integral/acceleration_graph_*
MPI_OpenMP/hw1_mpi_integral/results_*
MPI/hw1_mpi_integral/acceleration_graph_*
MPI/hw1_mpi_integral/results_*
ParallelComputationExamples/
*.out
*tmp.cpp
*tmp.cu
*tmp.sh
CUDA/clear_ABC.sh
tests.ipynb
*.txt
Multithreading_examples/
draft_*
test_graph*.png
CUDA/results.csv